<div class="mb-10">
  <h1 class="text-4xl mb-3">👋 Welcome</h1>
  <p><%= Date.today.strftime("%A %B %d, %Y") %></p>
</div>

<%= turbo_frame_tag :reviews do %>
  <div class="mb-4 mr-0 md:flex justify-between">
    <h2 class="text-xl text-reva-blue font-semibold">Reviews (<%= @pagy.count %>)</h2>
    <div class="hidden md:block">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>

  <div class="md:flex gap-4 w-full">
    <div>
      <%= render "shared/components/nps", nps: @nps if @nps %>
      <%= render "filters" %>
    </div>
    <div class="md:hidden mb-6">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>

    <% if @pagy.count.zero? %>
      <div class="rounded-lg shadow-sm border border-gray-200 grow-1 flex justify-center items-center">
        <p class="text-gray-900 text-lg">We didn't find any reviews 🥲 Please try other filters.</p>
      </div>
    <% else %>
      <%= render "table" %>
    <% end %>
  </div>
<% end %>
