<div>
<% @reviews.each do |review| %>
  <div class="my-8">
    <p class="text-md font-bold"><%= review.company_name %></p>
    <p><%= review.date %></p>
    <p><%= review.rating %></p>
    <p><%= review.title %></p>
    <p><%= review.description %></p>
  </div>
<% end %>
</div>


<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
