<div class="bg-white rounded-lg shadow-sm border border-gray-200 w-full mb-4">
  <div class="bg-gray-50 p-6 text-left text-sm font-medium text-gray-500 uppercase">
    <h3>Net Promoter Score</h3>
  </div>

  <div class="p-6 flex items-start gap-6">
    <div class="relative size-32">
      <svg class="size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(135deg);">
        <!-- Detractors segment -->
        <%= render "shared/components/gauge_circle",
                    color: "text-red-400",
                    dasharray: "#{nps.gauge_arc_lengths[:detractors_arc]} 100",
                    dashoffset: "0" %>

        <!-- Passives segment -->
        <%= render "shared/components/gauge_circle",
                    color: "text-orange-300",
                    dasharray: "#{nps.gauge_arc_lengths[:passives_arc]} 100",
                    dashoffset: -nps.gauge_arc_lengths[:detractors_arc] %>

        <!-- Promoters segment -->
        <%= render "shared/components/gauge_circle",
                    color: "text-green-400",
                    dasharray: "#{nps.gauge_arc_lengths[:promoters_arc]} 100",
                    dashoffset: -(nps.gauge_arc_lengths[:detractors_arc]  + nps.gauge_arc_lengths[:passives_arc]) %>
      </svg>

      <!-- NPS score -->
      <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
        <div class="text-3xl font-bold text-gray-800">
          <%= nps.daily_score %>
        </div>
        <div class="text-xs text-gray-500 mt-1">NPS</div>
      </div>
    </div>

    <!-- Legend -->
    <div class="mt-3 space-y-2">
      <%= render "shared/components/legend",
                  color: "bg-green-500",
                  title: "Promoters",
                  percentage: nps.percentages[:promoters],
                  count: nps.promoters_count %>

      <%= render "shared/components/legend",
                  color: "bg-orange-300",
                  title: "Passives",
                  percentage: nps.percentages[:passives],
                  count: nps.passives_count %>

      <%= render "shared/components/legend",
                  color: "bg-red-400",
                  title: "Detractors",
                  percentage: nps.percentages[:detractors],
                  count: nps.detractors_count %>
    </div>
  </div>
</div>
